---
http_interactions:
- request:
    method: post
    uri: https://places.googleapis.com/v1/places:searchText
    body:
      encoding: UTF-8
      string: '{"textQuery":"Pizza near Satellite Beach, FL"}'
    headers:
      Content-Type:
      - application/json
      X-Goog-Api-Key:
      - GOOGLE_PLACES_API_KEY
      X-Goog-Fieldmask:
      - places.displayName,places.formattedAddress,places.priceLevel
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "status": "INVALID_ARGUMENT",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "API_KEY_INVALID",
                "domain": "googleapis.com",
                "metadata": {
                  "service": "places.googleapis.com"
                }
              },
              {
                "@type": "type.googleapis.com/google.rpc.LocalizedMessage",
                "locale": "en-US",
                "message": "API key not valid. Please pass a valid API key."
              }
            ]
          }
        }
  recorded_at: Sun, 24 Nov 2024 19:39:31 GMT
recorded_with: VCR 6.3.1
