---
http_interactions:
- request:
    method: post
    uri: https://places.googleapis.com/v1/places:searchText
    body:
      encoding: UTF-8
      string: '{"textQuery":"lunch near Satellite Beach, FL"}'
    headers:
      Content-Type:
      - application/json
      X-Goog-Api-Key:
      - GOOGLE_PLACES_API_KEY
      X-Goog-Fieldmask:
      - places.displayName,places.formattedAddress,places.priceLevel
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "places": [
            {
              "formattedAddress": "1201 S Patrick Dr, Satellite Beach, FL 32937, USA",
              "priceLevel": "PRICE_LEVEL_INEXPENSIVE",
              "displayName": {
                "text": "Long Doggers",
                "languageCode": "en"
              }
            },
            {
              "formattedAddress": "1301 S Patrick Dr, Satellite Beach, FL 32937, USA",
              "priceLevel": "PRICE_LEVEL_INEXPENSIVE",
              "displayName": {
                "text": "Banana River Cafe",
                "languageCode": "en"
              }
            },
            {
              "formattedAddress": "306 A1A Jimmy Buffett Mem Hwy IND, IND HBR BCH, FL 32937, USA",
              "priceLevel": "PRICE_LEVEL_MODERATE"[...]
