---
http_interactions:
- request:
    method: post
    uri: https://places.googleapis.com/v1/places:searchText
    body:
      encoding: UTF-8
      string: '{"textQuery":"surf"}'
    headers:
      Content-Type:
      - application/json
      X-Goog-Api-Key:
      - GOOGLE_PLACES_API_KEY
      X-Goog-Fieldmask:
      - places.displayName,places.formattedAddress,places.priceLevel
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "places": [
            {
              "formattedAddress": "1210 A1A Jimmy Buffett Mem Hwy, Satellite Beach, FL 32937, USA",
              "priceLevel": "PRICE_LEVEL_INEXPENSIVE",
              "displayName": {
                "text": "Surfin' Turtle Ice Cream Shoppe",
                "languageCode": "en"
              }
            },
            {
              "formattedAddress": "1777 S Patrick Dr, Indian Harbour Beach, FL 32937, USA",
              "displayName": {
                "text": "Another Ride Surf Shop",
                "languageCode": "en"
              }
            },
            {
              "formattedAddress": "7008 N Atlantic Ave, Cape Canaveral, FL 32920, USA",
              "displayName": {
                "text": "Core Surf",
                "languageCode": "en"
 [...]
