---
http_interactions:
- request:
    method: post
    uri: https://places.googleapis.com/v1/places:searchText
    body:
      encoding: UTF-8
      string: '{"textQuery":"steak"}'
    headers:
      Content-Type:
      - application/json
      X-Goog-Api-Key:
      - GOOGLE_PLACES_API_KEY
      X-Goog-Fieldmask:
      - places.displayName,places.formattedAddress,places.priceLevel
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "places": [
            {
              "formattedAddress": "941 E Eau Gallie Blvd, Melbourne, FL 32937, USA",
              "priceLevel": "PRICE_LEVEL_MODERATE",
              "displayName": {
                "text": "Texas Roadhouse",
                "languageCode": "en"
              }
            },
            {
              "formattedAddress": "1201 S Patrick Dr, Satellite Beach, FL 32937, USA",
              "priceLevel": "PRICE_LEVEL_INEXPENSIVE",
              "displayName": {
                "text": "Long Doggers",
                "languageCode": "en"
              }
            },
            {
              "formattedAddress": "1462 A1A Jimmy Buffett Mem Hwy, Satellite Beach, FL 32937, USA",
              "priceLevel": "PRICE_LEVEL_MODERATE",
  [...]
